<nav>
    <div class="nav-wrapper topnav">
        <a href="/" class="brand-logo center">Scraping The Barrel of News</a>
        <ul>
            <li><a href="/scrape">Scrape</a></li>
        </ul>
    </div>
</nav>